*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

:root{
  --col1: #001cef;
  --col2: #ffffff;
  --col-3: #c3cde6;
}
html{
  font-size: 16px;
}
.grid{
  display: grid;
}
.flex{
  display: flex;
}

.home-container{
  width: 80%;
  grid-template-columns: 300px 300px 300px 300px;
  gap:5px;
  padding: 5px 0;
  margin: 0 auto;
}

.justify-center{
  justify-content: center;
}

.product{
  flex-direction: column;
  margin: 5px 8px;
  border: 1.5px solid var(--col1);
  border-radius: 5px;


}
.product-img{
  margin-top: 10px; ;
  width: 200px;
  height: 200px;
  background-image: none;
  margin: 0 auto;
}
.center-text{
  text-align: center;
}
.align-center{
  text-align: center;
}

.flex-between{
  justify-content: space-between;
}

.login-btn, .register-btn {
  color: #ffffff;
  padding: 8px 12px;
  font-size: 18px;
}

.login-btn{
  background-color: navy;
  border:1px solid  navy;
}
.register-btn{
  background-color: black;
  border:1px solid  black;
}

.login-btn:hover{
  color: navy;
  background-color: #ffffff;
  transition: .3s ease-in-out;
  border: 1px solid white;
}
.register-btn:hover{
  color: black;
  background-color: #ffffff;
  transition: .4s ease-in-out;
  border: 1px solid white;
}

.my-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 270px;
  font-size: 18px;
  font-weight: 600;

}